.container {
  background: #e6e6e6;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 6px 8px;
}

.task {
  display: flex;
  align-items: center;
}

.optionIcon {
  cursor: pointer;
}
