.contain {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoImg {
  margin-bottom: 32px;
}

.formSingUp {
  border: 2px solid #d0d0d0;
  padding: 24px;
  border-radius: 8px;
}

.linkSignIn {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px;
  font-size: 14px;
}
